<!doctype html>
<html ng-app="app" lang="en">
<head>
  <meta charset="UTF-8">
  <title>ShowLocalWeather</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</head>
<body ng-controller="wikiController as wiki">
  <p class="randomArticle" ng-click="wiki.getRandom()">
    Click here for a random article
  </p>
  <div class="icon fa fa-search" ng-show="wiki.state==='icon'" ng-click="wiki.initSearch()">

  </div>
  <form class="input" ng-show="wiki.state==='search'" ng-submit="wiki.search()">
    <input type="text" ng-model="wiki.searchStr" value="Submit">
    <div class="cancel" ng-click="wiki.cancel()">x</div>
  </form>
  <p class="hint">
    Click icon to search
  </p>
  <ul class="queryResult">
    <li ng-repeat="item in wiki.searchItems">
      <a href={{item.href}}>
        <p class="name">{{item.name}}</p>
        <p class="description">{{item.desc}}</p>
      </a>
    </li>
  </ul>

  <script src="https://use.fontawesome.com/0a446383d8.js"></script>
</body>
</html>
